.table-data, .table-head {
    font-size: 18px;
}

td, thead {
    text-align: center;
    vertical-align: middle;
}

td:nth-child(3) {
    white-space: nowrap;
}

td:nth-child(3) span.currency {
    font-weight: bold;
}
