<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
</head>
<body>
<h1>Submit a new product</h1>
<form method="post" th:action="@{/add}" th:object="${products}">
    <label>
        <input th:field="*{name}" th:type="text">
    </label>
    <label>
        <input th:field="*{description}" th:type="text">
    </label>
    <label>
        <input th:field="*{price}" th:type="text">
    </label>
    <label>
        <input th:field="*{stock}" th:type="number">
    </label>
    <label>
        <input th:field="*{eanCode}" th:type="text">
    </label>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
