<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="style.css">
    <title>Warehouse</title>
</head>
<body>
<table class="table" th:fragment="table">
    <thead th:fragment="thead">
    <a href="http://localhost:8080/add">Add new product</a>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>EAN Code</th>
    </thead>
    <tbody>
    <tr th:Object="${product}" th:each="product : ${products}">
        <td class="name" th:text="*{getName()}">Name</td>
        <td class="description" th:text="*{getDescription()}">Description</td>
        <td class="price" th:text="${product.getPrice() + product.getCurrency()}">Price</td>
        <td class="quantity" th:text="*{getStock()}">Quantity</td>
        <td class="quantity" th:text="*{getEanCode()}">Quantity</td>
    </tr>
    </tbody>
</table>

</body>

</html>